* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
}
body{
    background: gray;
}
/*table{
    width: 60%;
    padding:20px 20px 20px 250px;
    border: 1px solid;
    width:60%;
    margin:0 auto; 
      
}*/
.wapper{
      margin: 0 auto;
    width: 960px;
}
.table{
    
     
}
.table label{
    text-align:center;
    margin: 0 0 0 50px;  
}
#check {
    text-align: center;
}
#check  input{
    margin-left: 20px;
}
 
.tbl thead{
    background: red;
}
.tabcon{
    margin: 0 auto;
    width: 960px;
    border: 1px solid;
    
}
tbl{
    margin-left: 60px;
}
.addbot{
    display: block;
    margin: 8px;
}
.addbot a {
    background: #c1bfea;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
   padding: 6px;
}
.addbot a:hover{
     background: #b0b9bf;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}
.menuadmintop{
    margin: 5px;
}
.menuadmintop li{
  display: block;
  float: left;
  padding: 0 0 0 5px;
}
.menuadmintop li a{
display: block;
padding: 5px;
background: #e0eff9;
text-decoration: none;

}
.menuadmintop li a:hover{
  background: #b5c6d0;
}
.admenu{
  float: left;
  width: auto;
  margin-bottom: 50px;
  background:#86959e;
  padding: 7;
  margin: 10px 0 50px 0;
  -webkit-box-shadow: 0px 9px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 36px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 36px 0px rgba(0,0,0,0.75);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
.adcenter{
    float: left;
    font-family: serif;
    width: 960px;
    
 }
.status{
  float: right;
  background: #585;
  width: 300px;
  text-align: center;
  padding: 9px;

}
.error{
    text-align:center;
    background: red;
}
.fotoadmin
{
    position: top;
    margin: 8px;
    float: left;
    display: block;
}
#numberimg{
    display: none;
}